NODE_ENV=development
PORT=9000
JWT_SECRET=
JWT_EXPIRE=7d
CORS_ALLOW_ORIGINS=http://localhost:3000
# MAIL
SEND_GRID_ACCESS_KEY=
VERIFY_JWT_EXPIRE=2h
SENDER_MAIL="no-reply@example.com"
SENDER_NAME="Example"
WEB_URL="https://example.fun"
# KEY
FB_APP_ID=
# https://developers.facebook.com/tools/accesstoken/
FB_APP_TOKEN=

# Other
CRON_ENABLE=false
# DB
DATABASE_URL="postgresql://app:randompassword@lc_db:5432/lcity?schema=public"

# blockchain
CHAIN_ID=
RPC_URL=
SCAN_BLOCKCHAIN_CRON_ENABLE=true

# reward
REWARD_REFERRAL=